@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes heartBeat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out backwards;
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}

.animate-heartBeat {
    animation: heartBeat 1.5s ease-in-out infinite;
}